
@{
    ViewBag.Title = "Index";
}

<h2>PersonalInfo</h2>

<div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Go to job history", "Index", "JobHistory")</li>
        </ul>
    </div>
</div>