
@{
    ViewBag.Title = "Education";
}

<h2>@ViewBag.Title</h2>


<div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Show local jobs", "Index", "References")</li>
        </ul>
    </div>
</div>