@{
    ViewBag.Title = "E-Signature";
    ViewBag.LeftButtonLink = "";
    ViewBag.RightButtonLink = "";
}

<span class="content_title">
    <br />
    <br />
    Click here if you verify all information provided is accurate.
    <br />
    <br />
    <br />
</span>

<div id="navcontainer">
    <ul>
        <li>@Html.ActionLink("I agree", "ApplicationFinished", "ESignature")</li>
    </ul>
</div>