@{
    ViewBag.Title = "E-Signature";
}

<div style="text-align: center; margin: 20px;">

    <div class="content-header">@ViewBag.Title</div>

    <div class="content-subheader">
        You're almost there!
        <br />
        <br />
        By continuing to the next step, you verify that all information entered is accurate and correct.
        <br />
        <br />
        Click "I Agree" below to electronically sign your application.
    </div>

    <input type="button" value="I Agree" onclick="location.href='@Url.Action("ApplicationFinished", "ESignature")'" />

</div>