@{
    ViewBag.Title = "Questionnaire";
}

<h2>@ViewBag.Title</h2>

<div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul>
            <li>@Html.ActionLink("Show personal info form", "Index", "PersonalInfo")</li>
        </ul>
    </div>
</div>