<div id="navcontainer">
    <ul id="navlist">

        @if (ViewBag.LeftButtonLink != null && !ViewBag.LeftButtonLink.Equals(""))
        {
            <li style="float: left" id="leftNavButton"><a href=@ViewBag.LeftButtonLink>Back</a></li>
        }

        @if (ViewBag.RightButtonLink != null && !ViewBag.RightButtonLink.Equals(""))
        {
            <li style="float: right" id="rightNavButton"><a href=@ViewBag.RightButtonLink>Next</a></li>
        }

    </ul>
</div>