@{
    ViewBag.Title = "Phone Screening";
}

<div style="text-align: center; margin: 20px;">

    <div class="content-header">@ViewBag.Title</div>

    <div class="content-subheader">
        Your application is now complete and you are ready to be screened by one of our interviewers.
        <br />
        <br />
        Please pick up the phone and dial the number below.
        <br />
        <br />
        <b style="color: black; font-size: 250%">1-800-1TO-HIRE</b>
    </div>

</div>