@{
    ViewBag.Title = "Phone Screening";
    ViewBag.LeftButtonLink = "";
    ViewBag.RightButtonLink = "../Home/Welcome";
}

<span class="content_title">
    <br />
    <br />
    Please pick up the phone and dial 1-800-1TO-HIRE and hold for interviewer.
    <br />
    <br />
    <br />
</span>
