/* Page layout */

div#container {

               display: table;
                margin: 0 auto;
            min-height: 96vh;
                 width: 80vw;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
         border-radius: 10px;
                border: 5px solid #3790db;
      background-color: white;

}

div#header {

               display: table-row;
                 color: white;
      background-color: #296ca5;
        letter-spacing: -1.5px;
             font-size: 150%;
           text-shadow: 0px 0px 10px #000000;

}

div#content {

               display: table-row;
                height: 100%;

}

div#navigation {

               display: table-row;
                height: 80px;
      background-color: #a9c4db;

}

div#footer {

               display: table-row;
	  background-color: #296ca5;
            text-align: center;
                 color: white

}

/* Page elements. */

span.content_header {

                 color: gray;
             font-size: 250%;

}

input[type=submit], input[type=button] {

      background-color: #e08e2a;
         border-radius: 10px;
                height: 40px;
               padding: 0 20px 0 20px;
                 color: white;
       text-decoration: none;
             font-size: large;
               outline: none;
                border: none;

}

input[type=submit]:hover, input[type=button]:hover {

      background-color: #296ca5;

}

input[type=checkbox] {

                height: 25px;
                 width: 25px;

}

#textfield {

                 color: #e08e2a;
                height: 30px;
               padding: 0 20px 0 20px;
         border-radius: 10px;
                border: 5px solid #e08e2a;
            text-align: center;
             font-size: large;

}

hr.header {

                 width: 50%;
      background-color: #a9c4db;
                height: 4px;
                border: none;

}

/* Local Jobs View */

div#position-container {

               display: table;
                margin: 20px;
      background-color: #3790db;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

div#position-container:hover {

      background-color: #3fa2f6;

}

div.position-toggleable {

               padding: 5px;
               display: table-cell;
        vertical-align: middle;

}

div.position-detail-title {

               display: table-cell;
            text-align: right;
               padding: 0 10px 0 10px;
                 width: 150px;
                 color: white;
             font-size: 1.25em;

}

div.position-detail-content {

               display: table-cell;
            text-align: left;
               padding: 10px;
      background-color: white;
                 color: gray;

}

div.position-detail-partial-title {

               display: table-cell;
                 color: white;
             font-size: 1.25em;
               padding: 0 5px 5px 5px;
            text-align: left;

}

div.position-detail-partial-content {

               display: table-cell;
      background-color: white;
                 color: gray;
            text-align: left;
               padding: 5px;

}

div.position-apply {

               display: table-cell;
               padding: 10px;
                 width: 80px;
      background-color: #00b85c;
             font-size: 1.25em;
                 color: white;
           text-shadow: 0px 0px 5px #000000;

}

/* End Local Jobs View */

/* Begin Personal Info View */


div#form-container {

               display: table;
                margin: 0 auto;
      background-color: #3790db;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

div.form-title {

               display: table-cell;
            text-align: right;
               padding: 0 5px 0 5px;
                 width: 250px;
                 color: white;
             font-size: 1.15em;

}

div.form-content {

               display: table-cell;
            text-align: left;
               padding: 5px;
      background-color: white;
                 color: gray;

}

.field-input {

             max-width: 95%;
               padding: 5px;
             font-size: 1.15em;
            border-top: none;
           border-left: none;
          border-right: none;
      background-color: #F5F5F0;
         border-bottom: 1px solid #a9c4db;
              overflow: hidden;

}

div#validation {

           line-height: 30px;
                 color: red;

}

/* End Personal Info View */