@{
    ViewBag.Title = "Kiosk Start";
}

<div style="text-align: center;">

    <div class="content-header">Enter Store ID #</div>

    @using (Html.BeginForm("Welcome", "Home", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("storeId", null, new { placeholder = "Store Id #", @id = "storeid-textfield" })
        <input type="submit" value="Continue" />
    }

</div>