@{
    ViewBag.Title = "Kiosk Start";
}

<div style="text-align: center;">

    <span class="content_header">Enter Store ID #</span>
    
    <br />

    <hr class="header" />

    <br />

    @using (Html.BeginForm("Welcome", "Home", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("storeId", null, new { placeholder = "Store Id #", @id = "textfield" })
        <input type="submit" value="Continue" />
    }

</div>