
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Show local jobs", "Index", "LocalJobs")</li>
        </ul>
    </div>
</div>
