@{
    ViewBag.Title = "Main Menu";
}

<span class="content_title">
    <br />
    <br />
    <br />
    <br />
    Welcome to the A.E.S. Job Application Kiosk.
    <br />
    Select an option below to begin.
    <br />
    <br />
</span>

<div id="navcontainer">
    <ul>
        <li>@Html.ActionLink("Show Local Jobs", "Index", "LocalJobs")</li>
    </ul>
</div>
