@{
    ViewBag.Title = "Main Menu";
}

<div style="text-align: center;">

    <div class="content-header">Welcome to the A.E.S. Job Application Kiosk.</div>

    <div class="content-subheader">Select an option below to begin.</div>

    @using (Html.BeginForm("Index", "LocalJobs", FormMethod.Post, new { role = "form" }))
    {
        <input type="submit" value="Show Local Jobs" />
    }

</div>