@{
    ViewBag.Title = "Main Menu";
}

<div style="text-align: center;">

    <span class="content_header">Welcome to the A.E.S. Job Application Kiosk.<br />Select an option below to begin.</span>

    <br />
    <br />
    <br />

    @using (Html.BeginForm("Index", "LocalJobs", FormMethod.Post, new { role = "form" }))
    {
        <input type="submit" value="Show Local Jobs" />
    }

</div>